* {
    border: none;
    font-family: Font Awesome, Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
    border-radius: 15px;
}

@define-color mainBackground rgba(61, 20, 80, .85);
@define-color powerButton rgba(170, 30, 190, 0.65);
@define-color workspaceActive rgba( 150, 25, 170, .65);

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: transparent;
}
/*-----module groups----*/
.modules-right {
	background-color: @mainBackground;
    margin: 1px 5px 0px 0px;
}
.modules-center {
	background-color: @mainBackground;
    margin: 1px 0px 0px 0px;
}
.modules-left {
    margin: 1px 0px 0px 5px;
	background-color: @mainBackground;
}
/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px 1px 6px;
    background-color: transparent;
}
/*#workspaces button:hover {
    box-shadow: inherit;
	background-color: rgba(0,103,153,.15);
}*/

#workspaces button.active{
	background-color: @workspaceActive;
}

#clock,
#backlight,
#battery,
#pulseaudio,
#tray,
#custom-power,
#clock {
    background-color: transparent;
    margin: 5px 5px;
    padding: 3px 5px 0px 5px;
}
#custom-power {
    background-color: @powerButton;
    border-radius: 50px;
    margin: 3px 4px;
    padding: 3px 4px;
}
#pulseaudio {
    padding: 1px 0px 0px 3px;
}
#backlight {
    padding: 1px 0px 0px 3px;
}
#battery {
    padding: 1px 0px 0px 3px;
}
/*-----Indicators----*/
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 */

